version: '3.8'
services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: tasktracker
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - '5432:5432'

  backend:
    build: ./backend
    environment:
      - DATABASE_URL=postgresql://admin:password@db:5432/tasktracker
      - JWT_SECRET=superjwtkey
      - SECRET_KEY=supersecret
      - FRONTEND_URL=http://localhost:3000
    volumes:
      - ./backend:/app
    ports:
      - '5000:5000'
    depends_on:
      - db

  frontend:
    build: ./frontend
    ports:
      - '3000:3000'
    volumes:
      - ./frontend:/app
    environment:
      - VITE_API_URL=http://localhost:5000/api

volumes:
  pgdata:
